body{
  background-color: #fafafa;
}

.App {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #1c1c1c;
}

.Nav{
  padding: 16px;
  border-bottom: 1px solid #cecece;
  color: #1c1c1c;
  font-weight: bold;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.spotless-icon{
  width: 20px;
  -ms-transform: translateY(1px); /* IE 9 */
  -webkit-transform: translateY(1px); /* Safari */
  transform: translateY(1px);
}

.app-banner{
  width: 100%;
}

.wordmark{
  float: right;
}

.App h1{
  font-size: 28px;
  margin: 40px 0 0 80px;
  color: #cecece;
  text-transform: uppercase;
}

.playlists{
  margin: 4px 0 0 80px;
  padding: 0;
  font-size: 20px;
}

.playlists li{
  font-size: 1em;
  font-weight: bold;
  list-style: none;
  padding: 2px;
}

a{
  cursor: pointer;
  padding: 0 2px 2px;
}

a:hover{
  border-bottom: 1px solid #1c1c1c;
}